#services {
  background-color: var(--gray-600);
  padding: 88px 120px 120px 120px;
}

.services-header {
  text-align: center;
  margin-bottom: 56px;
}

.section-subtitle {
  font: var(--subtitle);
  color: var(--red);
  margin-bottom: 8px;
}

.services-header h2 {
  font: var(--title-md);
  color: var(--gray-100);
}

.services-grid {
  width: 100%;
  max-width: 1040px;
  margin-inline: auto;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 24px;
}

.service-card {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  border: 2px solid var(--gray-500);
}

.service-card img {
  width: 48px;
  height: 48px;
  display: block;
  object-fit: cover;
  margin-bottom: 20px;
}

.service-card h3 {
  font: var(--title-sm);
  color: var(--gray-100);
  margin-bottom: 8px;
}

.service-card p {
  font: var(--text-sm);
  color: var(--gray-200);
}
